.containerLoader {
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1001;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #343434;
    animation: moveText 3s linear infinite;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    animation: animate 1s linear infinite;
    z-index: 9999;
}

.loaderFocus {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #353535;
    z-index: 9998;
    opacity: 0.8;
}

.loader span {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #880015;
    animation: rotate 1s linear infinite;
}

.loader span:nth-child(1) {
    top: 0;
    left: 0;
    background: #d6d6d6;
}

.loader span:nth-child(2) {
    top: 0;
    right: 0;
    background: #880015;
}

.loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    background: #00123C;
}

.loader span:nth-child(4) {
    bottom: 0;
    right: 0;
    background: #d6d6d6;
}

@keyframes animate {
    0% {
        width: 100px;
        height: 100px;
    }
    10% {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 150px;
        height: 150px;
    }
    90% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}
